﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>2c2p</title>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="#">2C2P</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            @Html.ActionLink("Upload", "Index", "Home", null, new {@class = "nav-link"})
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("API Examples", "Api", "Home", null, new { @class = "nav-link" })
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        
        <main role="main" class="container">
            @RenderBody()
        </main>

    @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/main")
        @RenderSection("scripts", required: false)
    </body>
</html>