﻿<h4>Transactions</h4>
<ul class="list-group">
    <li class="list-group-item"><a href="@Url.HttpRouteUrl("GetAll", new {})">api/transactions</a></li>
    <li class="list-group-item"><a href="@Url.HttpRouteUrl("GetByCurrency", new {httpRoute = true, code = "USD"})">api/transactions/currency/{code}</a></li>
    <li class="list-group-item"><a href="@Url.HttpRouteUrl("GetByDate", new {httpRoute = true, from = "2019-02-19", to = "2019-02-21"})">api/transactions/date/{from}/{to}</a></li>
    <li class="list-group-item"><a href="@Url.HttpRouteUrl("GetByStatus", new {httpRoute = true, status = "A"})">api/transactions/status/{status}</a></li>
</ul>
<h4>Errors</h4>
<ul class="list-group">
    <li class="list-group-item"><a href="@Url.HttpRouteUrl("GetAllError", new {})">api/Errors</a></li>
</ul>

@Html.ActionLink("Back", "Index")