﻿@model tctp.Website.Models.FileViewModel

<div>
    <h3>Choose file to upload</h3>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        <div class="form-group">
            <input type="file" name="@Html.NameFor(x => x.File)" id="@Html.IdFor(x => x.File)"/>
        </div>
        <div class="form-group">
            <input type="submit" value="upload"/>
        </div>

        <div class="form-group">
            @if (!Html.ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger" role="alert">
                    @Html.ValidationSummary()
                </div>
            }
        </div>
    }
</div>